PROMETHEUS_VERSION=main-distroless
GRAFANA_VERSION=main-distroless-slim
LOKI_VERSION=main-2e3da9a
TEMPO_VERSION=main-0d067ee
OTEL_COLLECTOR_VERSION=0.152.0
ALERTMANAGER_VERSION=v0.33.0

GRAFANA_EXPOSED_PORT=3300