# HashiCorp Vault Version
VAULT_VERSION=2.0

# Vault Configuration
VAULT_DEV_ROOT_TOKEN_ID=dev-only-token
VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200

# Vault Ports
VAULT_DEV_PORT=8200
VAULT_PROD_PORT=8200

# Network
NETWORK_NAME=vault-network