# Container configuration
POSTGRES_VERSION = "17.2-alpine3.20"
PGADMIN_VERSION = "snapshot"

POSTGRES_USER = 
POSTGRES_PASSWORD =
POSTGRES_DB = test
POSTGRES_EXPOSED_PORT = 5432

PGADMIN_DEFAULT_EMAIL = 
PGADMIN_DEFAULT_PASSWORD = 
PGADMIN_EXPOSED_PORT = 5433
